<%- include("partials/header.ejs") %>
    <body>
        <h1>Products</h1>
        <div class="products-container" onclick="">
            <% products.forEach(product=>{ %>
                <div class="product-container">
                    <button onclick="" class="product-image" style="background-image: url('<%= product.api_featured_image %>');"></button> 
                    <div class="product-info">
                        <div class="product-name-price">
                            <p class="product-name"><%= product.name %></p>
                            <p class="product-price">$<%= product.price %></p>
                        </div>
                        <a href="<%= product.product_link %>" class="black-button">View Product →</a> 
                    </div>      
                </div>
            <% }); %>
        </div>
        
    </body>
</html>